@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#result_div div{
    margin-top: 20px;
    margin-bottom: 20px;
    content: "";
    clear: both;
    display: table;
    width: 100%;
}

#result_div div img {
    float: left;
    width: 25%;
    vertical-align: middle;
    margin-right: 40px;
}

#result_div div span {
    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;
}

#result_div div p {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

